{
  "members": [
    {
      "firstName": "Jeremy",
      "lastName": "Jones",
      "email": "",
      "groupId": 1,
      "phone": "(270) 543-3086",
      "address": "435 Main Street",
      "city": "Nashville",
      "state": "TN",
      "photo": "",
      "callTime": "",
      "canCall": true,
      "familyId": 0,
      "primaryMember": false,
      "id": 1
    },
    {
      "firstName": "Alex",
      "lastName": "Jones",
      "email": "",
      "groupId": 1,
      "phone": "(270) 543-3086",
      "address": "435 Main Street",
      "city": "Nashville",
      "state": "TN",
      "photo": "",
      "callTime": "",
      "canCall": true,
      "familyId": 0,
      "primaryMember": false,
      "id": 2
    },
    {
      "firstName": "Ashli",
      "lastName": "Jones",
      "email": "myaemail@me.com",
      "groupId": 1,
      "phone": "(270) 543-3086",
      "address": "435 Main Street",
      "city": "Nashville",
      "state": "TN",
      "photo": "",
      "callTime": "",
      "canCall": true,
      "familyId": 0,
      "primaryMember": false,
      "id": 3
    },
    {
      "firstName": "Bryan",
      "lastName": "Jones",
      "email": "",
      "groupId": 1,
      "phone": "(270) 543-3086",
      "address": "435 Main Street",
      "city": "Nashville",
      "state": "TN",
      "photo": "",
      "callTime": "",
      "canCall": true,
      "familyId": 0,
      "primaryMember": false,
      "id": 6
    },
    {
      "firstName": "Calvin",
      "lastName": "Carver",
      "email": "nickcarver@amail.com",
      "groupId": 1,
      "phone": "2705433086",
      "address": "15 carver lane",
      "city": "drakesboro",
      "state": "KY",
      "photo": "",
      "callTime": "",
      "canCall": true,
      "familyId": 0,
      "primaryMember": false,
      "id": 8
    },
    {
      "firstName": "Cheo",
      "lastName": "Carver",
      "email": "",
      "groupId": 1,
      "phone": "2705433086",
      "address": "15 carver lane",
      "city": "drakesboro",
      "state": "KY",
      "photo": "",
      "callTime": "",
      "canCall": true,
      "familyId": 0,
      "primaryMember": false,
      "id": 9
    },
    {
      "firstName": "Scott",
      "lastName": "Silver",
      "email": "",
      "groupId": 1,
      "phone": "2705433086",
      "address": "15 carver lane",
      "city": "drakesboro",
      "state": "KY",
      "photo": "",
      "callTime": "",
      "canCall": true,
      "familyId": 0,
      "primaryMember": false,
      "id": 10
    },
    {
      "firstName": "Nick",
      "lastName": "Carver",
      "email": "",
      "groupId": 2,
      "phone": "2705433086",
      "address": "15 carver lane",
      "city": "drakesboro",
      "state": "KY",
      "photo": "",
      "callTime": "",
      "canCall": true,
      "familyId": 0,
      "primaryMember": false,
      "id": 11
    }
  ],
  "history": [
    {
      "note": "A note!",
      "userId": 1,
      "memberId": 1,
      "date": "2020-04-24T03:52:34.610Z",
      "id": 1
    },
    {
      "note": "Another note",
      "userId": 2,
      "memberId": 1,
      "date": "2020-03-24T03:53:08.335Z",
      "id": 2
    },
    {
      "note": "can make a note about Jeremy",
      "userId": 3,
      "memberId": 1,
      "date": "2020-02-24T04:26:51.419Z",
      "id": 3
    },
    {
      "note": "alriiiight",
      "userId": 4,
      "memberId": 1,
      "date": "2020-01-24T04:27:59.120Z",
      "id": 4
    },
    {
      "note": "things and stuff",
      "userId": 5,
      "memberId": 1,
      "date": "2020-12-24T04:43:20.198Z",
      "id": 5
    },
    {
      "note": "Ughhhh what?",
      "userId": 6,
      "memberId": 2,
      "date": "2020-11-24T04:43:47.085Z",
      "id": 6
    },
    {
      "note": "yep",
      "userId": 7,
      "memberId": 2,
      "date": "2020-10-24T04:44:03.308Z",
      "id": 7
    },
    {
      "note": "we talked about school and kids",
      "userId": 8,
      "memberId": 3,
      "date": "2020-09-24T15:02:36.850Z",
      "id": 8
    },
    {
      "note": "A note!",
      "userId": 9,
      "memberId": 1,
      "date": "2020-08-24T03:52:34.610Z",
      "id": 9
    },
    {
      "note": "Another note",
      "userId": 10,
      "memberId": 1,
      "date": "2020-07-24T03:53:08.335Z",
      "id": 10
    },
    {
      "note": "can make a note about Jeremy",
      "userId": 11,
      "memberId": 1,
      "date": "2020-06-24T04:26:51.419Z",
      "id": 11
    },
    {
      "note": "alriiiight",
      "userId": 1,
      "memberId": 1,
      "date": "2020-05-24T04:27:59.120Z",
      "id": 12
    },
    {
      "note": "things and stuff",
      "userId": 2,
      "memberId": 1,
      "date": "2020-04-24T04:43:20.198Z",
      "id": 13
    },
    {
      "note": "Ughhhh what?",
      "userId": 3,
      "memberId": 2,
      "date": "2020-01-24T04:43:47.085Z",
      "id": 14
    },
    {
      "note": "yep",
      "userId": 4,
      "memberId": 2,
      "date": "2020-02-24T04:44:03.308Z",
      "id": 15
    },
    {
      "note": "we talked about school and kids",
      "userId": 5,
      "memberId": 3,
      "date": "2020-03-24T15:02:36.850Z",
      "id": 16
    }
  ],
  "roles": [
    {
      "name": "Elder",
      "id": 1
    },
    {
      "name": "Deacon",
      "id": 2
    }
  ],
  "users": [
    {
      "firstName": "Nick",
      "lastName": "Carver",
      "email": "nickcarver@amail.com",
      "password": "pass",
      "groupId": 1,
      "roleId": 1,
      "phone": "(270) 543-3086",
      "address": "435 Main Street",
      "city": "Nashville",
      "state": "AL",
      "photo": "",
      "callTime": "",
      "canCall": true,
      "familyId": 0,
      "primaryMember": false,
      "id": 1
    },
    {
      "firstName": "Grant",
      "lastName": "Carver",
      "email": "grantcarver@amail.com",
      "password": "pass",
      "groupId": 1,
      "roleId": 2,
      "phone": "(270) 543-3086",
      "address": "435 Main Street",
      "city": "Nashville",
      "state": "AL",
      "photo": "",
      "callTime": "",
      "canCall": true,
      "familyId": 0,
      "primaryMember": false,
      "id": 2
    },
    {
      "firstName": "Mark",
      "lastName": "Carver",
      "email": "markcarver@amail.com",
      "password": "pass",
      "groupId": 1,
      "roleId": 2,
      "phone": "(270) 543-3086",
      "address": "435 Main Street",
      "city": "Nashville",
      "state": "AL",
      "photo": "",
      "callTime": "",
      "canCall": true,
      "familyId": 0,
      "primaryMember": false,
      "id": 3
    },
    {
      "firstName": "Sawyer",
      "lastName": "Carver",
      "email": "sawyercarver@amail.com",
      "password": "pass",
      "groupId": 1,
      "roleId": 2,
      "phone": "(270) 543-3086",
      "address": "435 Main Street",
      "city": "Nashville",
      "state": "AL",
      "photo": "",
      "callTime": "",
      "canCall": true,
      "familyId": 0,
      "primaryMember": false,
      "id": 4
    },
    {
      "firstName": "Frank",
      "lastName": "Carver",
      "email": "frankcarver@amail.com",
      "password": "pass",
      "groupId": 2,
      "roleId": 1,
      "phone": "(270) 543-3086",
      "address": "435 Main Street",
      "city": "Nashville",
      "state": "AL",
      "photo": "",
      "callTime": "",
      "canCall": true,
      "familyId": 0,
      "primaryMember": false,
      "id": 5
    },
    {
      "firstName": "Lawrence",
      "lastName": "Carver",
      "email": "lawrencecarver@amail.com",
      "password": "pass",
      "groupId": 2,
      "roleId": 2,
      "phone": "(270) 543-3086",
      "address": "435 Main Street",
      "city": "Nashville",
      "state": "AL",
      "photo": "",
      "callTime": "",
      "canCall": true,
      "familyId": 0,
      "primaryMember": false,
      "id": 6
    },
    {
      "firstName": "Darrel",
      "lastName": "Carver",
      "email": "darrelcarver@amail.com",
      "password": "pass",
      "groupId": 2,
      "roleId": 2,
      "phone": "(270) 543-3086",
      "address": "435 Main Street",
      "city": "Nashville",
      "state": "AL",
      "photo": "",
      "callTime": "",
      "canCall": true,
      "familyId": 0,
      "primaryMember": false,
      "id": 7
    },
    {
      "firstName": "Hunter",
      "lastName": "Carver",
      "email": "huntercarver@amail.com",
      "password": "pass",
      "groupId": 2,
      "roleId": 2,
      "phone": "(270) 543-3086",
      "address": "435 Main Street",
      "city": "Nashville",
      "state": "AL",
      "photo": "",
      "callTime": "",
      "canCall": true,
      "familyId": 0,
      "primaryMember": false,
      "id": 8
    },
    {
      "firstName": "Caleb",
      "lastName": "Carver",
      "email": "calebcarver@amail.com",
      "password": "pass",
      "groupId": 2,
      "roleId": 2,
      "phone": "(270) 543-3086",
      "address": "435 Main Street",
      "city": "Nashville",
      "state": "AL",
      "photo": "",
      "callTime": "",
      "canCall": true,
      "familyId": 0,
      "primaryMember": false,
      "id": 9
    },
    {
      "firstName": "Cheo",
      "lastName": "Carver",
      "email": "cheocarver@amail.com",
      "password": "pass",
      "groupId": 2,
      "roleId": 2,
      "phone": "(270) 543-3086",
      "address": "435 Main Street",
      "city": "Nashville",
      "state": "AL",
      "photo": "",
      "callTime": "",
      "canCall": true,
      "familyId": 0,
      "primaryMember": false,
      "id": 10
    },
    {
      "firstName": "Robb",
      "lastName": "Carver",
      "email": "his@email.com",
      "password": "no",
      "groupId": 2,
      "roleId": 2,
      "phone": "(270) 543-3086",
      "address": "435 Main Street",
      "city": "Los Angeles",
      "state": "CA",
      "photo": "",
      "callTime": "",
      "canCall": true,
      "familyId": 0,
      "primaryMember": false,
      "id": 11
    }
  ],
  "news": [
    {
      "deaconNews": "here is a note to the deacons",
      "memberNews": "here is a note to the members",
      "date": "2021-03-17T21:53:45.238Z",
      "userId": 1,
      "id": 1
    },
    {
      "deaconNews": "another note",
      "memberNews": "another second note",
      "userId": 1,
      "date": "2021-03-18T19:36:46.624Z",
      "id": 2
    },
    {
      "deaconNews": "vd",
      "memberNews": "ve",
      "userId": 1,
      "date": "2021-03-18T19:42:05.343Z",
      "id": 3
    },
    {
      "deaconNews": "heres a note",
      "memberNews": "heres a note",
      "userId": 1,
      "date": "2021-03-18T20:24:55.161Z",
      "id": 4
    },
    {
      "deaconNews": "oooo very transparent",
      "memberNews": "very nice",
      "userId": 1,
      "date": "2021-03-18T20:40:26.422Z",
      "id": 5
    },
    {
      "deaconNews": "noooo",
      "memberNews": "noooo",
      "userId": 1,
      "date": "2021-03-18T20:41:47.115Z",
      "id": 6
    },
    {
      "deaconNews": "yo",
      "memberNews": "its a message",
      "userId": 1,
      "date": "2021-03-18T20:44:01.157Z",
      "id": 7
    },
    {
      "deaconNews": "dear men",
      "memberNews": "and women",
      "userId": 1,
      "date": "2021-03-18T21:11:44.498Z",
      "id": 8
    },
    {
      "deaconNews": "",
      "memberNews": "",
      "userId": 1,
      "date": "2021-03-24T14:56:21.863Z",
      "id": 9
    },
    {
      "deaconNews": "this is a message to the deacons",
      "memberNews": "and to the members",
      "userId": 1,
      "date": "2021-03-24T14:58:53.218Z",
      "id": 10
    },
    {
      "deaconNews": "a new one",
      "memberNews": "..",
      "userId": 1,
      "date": "2021-03-24T14:59:26.270Z",
      "id": 11
    },
    {
      "deaconNews": "Its a new week! Be great out there!!",
      "memberNews": "Party at my house on saturday",
      "userId": 1,
      "date": "2021-03-24T15:54:25.533Z",
      "id": 12
    }
  ],
  "groups": [
    {
      "name": "1",
      "id": 1
    },
    {
      "name": "2",
      "id": 2
    }
  ]
}